.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.verticalLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: rgba(66, 86, 122, 0.1);
}

.horizontalLine {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: rgba(66, 86, 122, 0.1);
}

.wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 530px;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.pointContainer {
  $point-radius: 3.5rem;

  position: absolute;
  top: calc(50% - $point-radius / 2);
  left: calc(50% - $point-radius / 2);
  width: $point-radius;
  height: $point-radius;
  cursor: pointer;

  .point {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    color: #42567a;
    background-color: #42567a;
    border-radius: 50%;
    transform: scale(0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .pointContent {
    position: relative;
  }

  .pointName {
    position: absolute;
    left: calc($point-radius / 2);
    margin-left: 1.5rem;
    font-weight: bold;
    color: transparent;
    transition: color 0.6s linear;
    transition-delay: 1s;
    pointer-events: none;
  }

  &.target {
    .pointName {
      color: #42567a;
    }
  }

  &.target,
  &:hover {
    .point {
      transform: scale(1);
      background-color: transparent;
      border: 1px solid rgba(66, 86, 122, 0.5);
    }
  }
}
