.container {
  position: relative;
  max-width: 1440px;
  min-height: 1080px;
  margin: 0 auto;
  border-left: 1px solid rgba(66, 86, 122, 0.1);
  border-right: 1px solid rgba(66, 86, 122, 0.1);
}

.verticalLine {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: rgba(66, 86, 122, 0.1);
  transform: translateX(-50%);
}

.horizontalLine {
  position: absolute;
  top: 480px;
  width: 100%;
  height: 1px;
  background-color: rgba(66, 86, 122, 0.1);
}

.titleContainer {
  position: absolute;
  top: 170px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 4.875rem;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
}

.titleDesignLine {
  width: 5px;
  height: 7.5rem;
  background-image: linear-gradient(to bottom, #5d5fef, #ef5da8);
}

.years {
  position: absolute;
  top: 400px;
  left: 50%;
  display: flex;
  gap: 7rem;
  font-size: 12.5rem;
  font-weight: bold;
  line-height: 10rem;
  transform: translateX(-50%);
  user-select: none;
}

.initYear {
  color: #5d5fef;
}

.lastYear {
  color: #ef5da8;
}

.wheel {
  position: absolute;
  top: 215px;
  left: 50%;
  width: 530px;
  height: 530px;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
  transform: translateX(-50%);
}

.pointContainer {
  $point-radius: 3.5rem;

  position: absolute;
  top: calc(50% - $point-radius / 2);
  left: calc(50% - $point-radius / 2);
  width: $point-radius;
  height: $point-radius;
  cursor: pointer;

  .point {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    color: #42567a;
    background-color: #42567a;
    border-radius: 50%;
    transform: scale(0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .pointContent {
    position: relative;
  }

  .pointName {
    position: absolute;
    top: 0;
    left: calc($point-radius / 2);
    margin: 0;
    margin-left: 1.5rem;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    transition: color 0.6s linear;
    transition-delay: 1s;
    pointer-events: none;
  }

  &.target {
    .pointName {
      color: #42567a;
    }
  }

  &.target,
  &:hover {
    .point {
      transform: scale(1);
      background-color: #f4f5f9;
      border: 1px solid rgba(66, 86, 122, 0.5);
    }
  }
}

.wheelControl {
  position: absolute;
  top: 697px;
  left: 80px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.wheelButtons {
  display: flex;
  gap: 1.25rem;
}

.wheelPrev,
.wheelNext {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(66, 86, 122, 0.5);
  background-color: #f4f5f9;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    color: #42567a;
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: white;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.wheelPrev::after {
  margin-left: 4px;
  transform: rotate(135deg);
}

.wheelNext::after {
  margin-right: 4px;
}

.swiperWrapper {
  position: absolute;
  top: 841px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2.5rem;
  transition: opacity 0.4s ease;
}

.swiperHidden {
  opacity: 0;
  transition: opacity 0s;
}

.swiperContainer {
  max-width: 1280px;
  width: 100%;
  padding: 0 1rem;
  user-select: none;

  :global(.swiper) {
    cursor: pointer;
  }
}

.slideTitle {
  margin-bottom: 0.9375rem;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 1.5625rem;
  font-weight: normal;
  color: #3877ee;
}

.slideText {
  font-size: 1.25rem;
}

.swiperPrev,
.swiperNext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(56, 120, 238, 0.1);
  z-index: 100;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    color: #3877ee;
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: #e0e0e0;
  }

  &:global(.swiper-button-disabled) {
    opacity: 0;
    pointer-events: none;
  }
}

.swiperPrev::after {
  transform: rotate(135deg);
}
