.container {
  position: relative;
  max-width: 1440px;
  min-height: 1080px;
  margin: 0 auto;
  border-left: 1px solid rgba(66, 86, 122, 0.1);
  border-right: 1px solid rgba(66, 86, 122, 0.1);
}

.verticalLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: rgba(66, 86, 122, 0.1);
}

.horizontalLine {
  position: absolute;
  top: 480px;
  width: 100%;
  height: 1px;
  background-color: rgba(66, 86, 122, 0.1);
}

.wheel {
  position: absolute;
  top: 215px;
  left: 50%;
  width: 530px;
  height: 530px;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
  transform: translateX(-50%);
}

.pointContainer {
  $point-radius: 3.5rem;

  position: absolute;
  top: calc(50% - $point-radius / 2);
  left: calc(50% - $point-radius / 2);
  width: $point-radius;
  height: $point-radius;
  cursor: pointer;

  .point {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    color: #42567a;
    background-color: #42567a;
    border-radius: 50%;
    transform: scale(0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .pointContent {
    position: relative;
  }

  .pointName {
    position: absolute;
    top: 0;
    left: calc($point-radius / 2);
    margin: 0;
    margin-left: 1.5rem;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    transition: color 0.6s linear;
    transition-delay: 1s;
    pointer-events: none;
  }

  &.target {
    .pointName {
      color: #42567a;
    }
  }

  &.target,
  &:hover {
    .point {
      transform: scale(1);
      background-color: transparent;
      border: 1px solid rgba(66, 86, 122, 0.5);
    }
  }
}

.swiperWrapper {
  position: absolute;
  top: 841px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2.5rem;
}

.swiperContainer {
  max-width: 1200px;

  :global(.swiper) {
    cursor: pointer;
  }
}

.swiperPrev,
.swiperNext {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(56, 120, 238, 0.1);
  z-index: 100;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }

  &:global(.swiper-button-disabled) {
    opacity: 0;
    pointer-events: none;
  }
}
