.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.verticalLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: rgba(66, 86, 122, 0.1);
}

.horizontalLine {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: rgba(66, 86, 122, 0.1);
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 530px;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
}

.pointContainer {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  // margin: -28px 0 0 -28px;
  // transform: translate(-50%, -50%);
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 1.25rem;
  color: #42567A;
  border: 1px solid rgba(66, 86, 122, 0.5);
  border-radius: 50%;
}
