.container {
  position: relative;
  max-width: var(--content-desktop-width);
  min-height: 1080px;
  height: 100vh;
  margin: 0 auto;
  border-left: 1px solid var(--outline-10);
  border-right: 1px solid var(--outline-10);

  @media (max-width: 1024px) {
    margin: 0 20px;
    border: none;
  }

  @media (max-width: 768px) {
    min-height: 568px;
    height: 100vh;
  }
}

.verticalLine {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: var(--outline-10);
  transform: translateX(-50%);

  @media (max-width: 768px) {
    display: none;
  }
}

.horizontalLine {
  position: absolute;
  top: 480px;
  width: 100%;
  height: 1px;
  background-color: var(--outline-10);

  @media (max-width: 768px) {
    display: none;
  }
}

.titleContainer {
  position: absolute;
  top: 170px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 4.875rem;

  @media (max-width: 768px) {
    top: 59px;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}

.titleDesignLine {
  width: 5px;
  height: 7.5rem;
  background-image: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );

  @media (max-width: 1024px) {
    display: none;
  }
}

.years {
  position: absolute;
  top: 400px;
  left: 50%;
  display: flex;
  gap: 7rem;
  font-size: 12.5rem;
  font-weight: bold;
  line-height: 10rem;
  transform: translateX(-50%);
  user-select: none;

  @media (max-width: 1024px) {
    font-size: 8rem;
  }

  @media (max-width: 768px) {
    gap: 2rem;
    top: 163px;
    font-size: 3.5rem;
    line-height: 6rem;
  }
}

.initYear {
  color: var(--primary-color);

  @media (max-width: 768px) {
    color: var(--support-color);
  }
}

.lastYear {
  color: var(--secondary-color);
}

.wheel {
  position: absolute;
  top: 215px;
  left: 50%;
  width: 530px;
  height: 530px;
  border: 1px solid var(--outline-20);
  border-radius: 50%;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    display: none;
  }
}

.pointContainer {
  $point-radius: 3.5rem;

  position: absolute;
  top: calc(50% - $point-radius / 2);
  left: calc(50% - $point-radius / 2);
  width: $point-radius;
  height: $point-radius;
  cursor: pointer;

  .point {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    color: var(--text-color);
    background-color: var(--text-color);
    border-radius: 50%;
    transform: scale(0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .pointContent {
    position: relative;
  }

  .pointName {
    position: absolute;
    top: 0;
    left: calc($point-radius / 2);
    margin: 0;
    margin-left: 1.5rem;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    transition: color 0.6s linear;
    transition-delay: 1s;
    pointer-events: none;
  }

  &.target {
    .pointName {
      color: var(--text-color);
    }
  }

  &.target,
  &:hover {
    .point {
      transform: scale(1);
      background-color: var(--bg-color);
      border: 1px solid var(--outline-50);
    }
  }
}

.wheelControl {
  position: absolute;
  top: 697px;
  left: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 768px) {
    gap: 10px;
    top: unset;
    left: 0;
    bottom: 20px;
    z-index: 10;
  }
}

.targetPointIndex {
  font-size: 0.875rem;
}

.wheelButtons {
  display: flex;
  gap: 20px;

  @media (max-width: 768px) {
    gap: 10px;
  }
}

.wheelPrev,
.wheelNext {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--outline-50);
  background-color: var(--bg-color);
  transition: background-color 0.2s ease;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    color: var(--text-color);
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: #fff;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (max-width: 768px) {
    width: 25px;
    height: 25px;

    &::after {
      width: 6px;
      height: 6px;
    }
  }
}

.wheelPrev::after {
  margin-left: 4px;
  transform: rotate(135deg);
}

.wheelNext::after {
  margin-right: 4px;
}

.fadingWrapper {
  position: absolute;
  top: 841px;
  width: 100%;
  transition: opacity 0.4s ease;

  @media (max-width: 768px) {
    top: 313px;
  }
}

.wrapperHidden {
  opacity: 0;
  transition: opacity 0s;
}

.mobileTitle {
  display: none;

  @media (max-width: 768px) {
    display: inline-block;
    font-size: 1.25rem;
  }
}

.swiperWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2.5rem;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.swiperContainer {
  max-width: 1280px;
  width: 100%;
  padding: 0 1rem;
  user-select: none;

  :global(.swiper) {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    padding: 1.25rem 0;
    border-top: 1px solid #c7cdd9;
  }
}

.slideTitle {
  margin: 0;
  margin-bottom: 0.9375rem;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 1.5625rem;
  font-weight: normal;
  color: var(--support-color);

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.slideText {
  font-size: 1.25rem;
  line-height: 1.875rem;

  @media (max-width: 768px) {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

.swiperPrev,
.swiperNext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(56, 120, 238, 0.1);
  z-index: 100;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    color: var(--support-color);
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: #f3f3f3;
  }

  &:global(.swiper-button-disabled) {
    opacity: 0;
    pointer-events: none;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.swiperPrev::after {
  transform: rotate(135deg);
}

.pagination {
  --swiper-pagination-color: var(--text-color);
  --swiper-pagination-bullet-width: 6px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-bullet-horizontal-gap: 5px;

  display: none;

  @media (max-width: 768px) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 32px !important;
  }
}
