*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f4f5f9;
}
